configure
set service lldp interface all
set service ssh port 22
set service ssh listen-address 0.0.0.0
set system domain-search domain bmrf.io
del system ntp server 0.pool.ntp.org
del system ntp server 1.pool.ntp.org
del system ntp server 2.pool.ntp.org
set system ntp server time.bmrf.io
set system domain-name bmrf.io
set system name-server 172.16.11.2
set system name-server 172.16.11.3
set system host-name vyos-sb-spine-a
set system login user vyos authentication plaintext-password VMware1!
set vrf name oob-mgmt description "Out of Band Management Interface"
set vrf name oob-mgmt table 101
set vrf bind-to-all
set interfaces ethernet eth0 mtu 1500
set interfaces ethernet eth0 vif 21 description "Out of Band Management VLAN"
set interfaces ethernet eth0 vif 21 mtu 1500
set interfaces ethernet eth0 vif 21 vrf oob-mgmt
set interfaces ethernet eth0 vif 21 address 172.16.21.53/24
set protocols vrf oob-mgmt static route 0.0.0.0/0 next-hop 172.16.21.1 next-hop-interface eth0.21
set system ntp vrf oob-mgmt
set interfaces ethernet eth1 address '3.0.1.2/30'
set interfaces ethernet eth1 description 'Spine-A to WAN Uplink'
set interfaces ethernet eth1 mtu '9000'
set interfaces ethernet eth2 mtu '9000'
set interfaces ethernet eth2 description 'Spine-A to ToR-A Routed Link'
set interfaces ethernet eth2 address '3.0.1.5/30' 
set interfaces ethernet eth3 mtu '9000'
set interfaces ethernet eth3 description 'Spine-A to ToR-B Routed Link'
set interfaces ethernet eth3 address '3.0.1.9/30' 
set protocols bfd peer '3.0.1.1'
set protocols bfd peer '3.0.1.6'
set protocols bfd peer '3.0.1.10'
set protocols bgp 65200 address-family ipv4-unicast redistribute connected
set protocols bgp 65200 neighbor 3.0.1.1 remote-as 65000
set protocols bgp 65200 neighbor 3.0.1.1 bfd
set protocols bgp 65200 neighbor 3.0.1.6 remote-as 65210
set protocols bgp 65200 neighbor 3.0.1.6 bfd
set protocols bgp 65200 neighbor 3.0.1.6 address-family ipv4-unicast default-originate
set protocols bgp 65200 neighbor 3.0.1.10 remote-as 65210
set protocols bgp 65200 neighbor 3.0.1.10 bfd
set protocols bgp 65200 neighbor 3.0.1.10 address-family ipv4-unicast default-originate
set protocols bgp 65200 parameters bestpath as-path multipath-relax
commit
save
exit