configure
set service lldp interface all
set service ssh port 22
set service ssh listen-address 0.0.0.0
set system domain-search domain bmrf.io
del system ntp server 0.pool.ntp.org
del system ntp server 1.pool.ntp.org
del system ntp server 2.pool.ntp.org
set system ntp server time.bmrf.io
set system domain-name bmrf.io
set system name-server 172.16.11.4
set system name-server 172.16.11.5
set system host-name vyos-vrf-tor-a
set system login user vyos authentication plaintext-password VMware1!
set vrf name oob-mgmt description "Out of Band Management Interface"
set vrf name oob-mgmt table 101
set vrf bind-to-all
set interfaces ethernet eth0 mtu 1500
set interfaces ethernet eth0 vif 11 description "Out of Band Management VLAN"
set interfaces ethernet eth0 vif 11 mtu 1500
set interfaces ethernet eth0 vif 11 vrf oob-mgmt
set interfaces ethernet eth0 vif 11 address 172.16.11.35/24
set protocols vrf oob-mgmt static route 0.0.0.0/0 next-hop 172.16.11.1 next-hop-interface eth0.11
set system ntp vrf oob-mgmt
set service ssh vrf oob-mgmt
set interfaces ethernet eth1 address '4.0.1.6/30'
set interfaces ethernet eth1 description 'ToR-A to Spine-A Uplink'
set interfaces ethernet eth1 mtu '9000'
set interfaces ethernet eth2 mtu '9000'
set interfaces ethernet eth2 vif 120 description 'ToR-A to NSX Edge Downlink'
set interfaces ethernet eth2 vif 120 mtu 9000
set interfaces ethernet eth2 vif 120 address '10.10.120.1/28' 
set protocols bfd peer '4.0.1.5'
set protocols bfd peer '10.10.120.2'
set protocols bfd peer '10.10.120.3'
set protocols bgp 65310 address-family ipv4-unicast redistribute connected
set protocols bgp 65310 neighbor 4.0.1.5 remote-as 65300
set protocols bgp 65310 neighbor 4.0.1.5 bfd
set protocols bgp 65310 neighbor 10.10.120.2 remote-as 65120
set protocols bgp 65310 neighbor 10.10.120.2 bfd
set protocols bgp 65310 neighbor 10.10.120.2 address-family ipv4-unicast default-originate
set protocols bgp 65310 neighbor 10.10.120.3 remote-as 65120
set protocols bgp 65310 neighbor 10.10.120.3 bfd
set protocols bgp 65310 neighbor 10.10.120.3 address-family ipv4-unicast default-originate
set protocols bgp 65310 parameters bestpath as-path multipath-relax
commit
save
exit