configure
set service lldp interface all
set service ssh port 22
set service ssh listen-address 0.0.0.0
set system domain-search domain bmrf.io
set system ntp server time.bmrf.io
set system domain-name bmrf.io
set system name-server 172.16.11.4
set system name-server 172.16.11.5
set system host-name vyos-sa-tor-b
set interfaces ethernet eth0 address '2.0.1.10/30'
set interfaces ethernet eth0 description 'ToR-B to Spine-A Uplink'
set interfaces ethernet eth0 mtu '9000'
set interfaces ethernet eth1 mtu '9000'
set interfaces ethernet eth1 vif 101 description 'ToR-B to NSX Edge Downlink'
set interfaces ethernet eth1 vif 101 mtu 9000
set interfaces ethernet eth1 vif 101 address '10.10.101.1/28' 
set interfaces ethernet eth1 vif 14 description 'ToR-B VRRP Edge RTEP'
set interfaces ethernet eth1 vif 14 mtu 9000
set interfaces ethernet eth1 vif 14 address '172.16.14.3/24' 
set interfaces ethernet eth1 vif 15 description 'ToR-B VRRP ESXi TEP'
set interfaces ethernet eth1 vif 15 mtu 9000
set interfaces ethernet eth1 vif 15 address '172.16.15.3/24' 
set interfaces ethernet eth1 vif 16 description 'ToR-B VRRP Edge TEP'
set interfaces ethernet eth1 vif 16 mtu 9000
set interfaces ethernet eth1 vif 16 address '172.16.16.3/24' 
set high-availability vrrp group sa-edge-rtep interface eth1.14
set high-availability vrrp group sa-edge-rtep vrid 14
set high-availability vrrp group sa-edge-rtep virtual-address 172.16.14.1/24
set high-availability vrrp group sa-edge-rtep hello-source-address 172.16.14.3
set high-availability vrrp group sa-edge-rtep peer-address 172.16.14.2
set high-availability vrrp group sa-edge-rtep no-preempt 
set high-availability vrrp group sa-edge-rtep priority 200
set high-availability vrrp group sa-esxi-tep no-preempt 
set high-availability vrrp group sa-esxi-tep interface eth1.15
set high-availability vrrp group sa-esxi-tep vrid 15
set high-availability vrrp group sa-esxi-tep virtual-address 172.16.15.1/24
set high-availability vrrp group sa-esxi-tep hello-source-address 172.16.15.3
set high-availability vrrp group sa-esxi-tep peer-address 172.16.15.2
set high-availability vrrp group sa-esxi-tep priority 200
set high-availability vrrp group sa-edge-tep no-preempt 
set high-availability vrrp group sa-edge-tep interface eth1.16
set high-availability vrrp group sa-edge-tep vrid 16
set high-availability vrrp group sa-edge-tep virtual-address 172.16.16.1/24
set high-availability vrrp group sa-edge-tep hello-source-address 172.16.16.3
set high-availability vrrp group sa-edge-tep peer-address 172.16.16.2
set high-availability vrrp group sa-edge-tep priority 100
set protocols bfd peer '2.0.1.9'
set protocols bfd peer '10.10.101.2'
set protocols bfd peer '10.10.101.3'
set protocols bgp 65110 neighbor 2.0.1.9 remote-as 65100
set protocols bgp 65110 neighbor 2.0.1.9 bfd
set protocols bgp 65110 neighbor 10.10.101.2 remote-as 65120
set protocols bgp 65110 neighbor 10.10.101.2 bfd
set protocols bgp 65110 neighbor 10.10.101.2 address-family ipv4-unicast default-originate
set protocols bgp 65110 neighbor 10.10.101.3 remote-as 65120
set protocols bgp 65110 neighbor 10.10.101.3 bfd
set protocols bgp 65110 neighbor 10.10.101.3 address-family ipv4-unicast default-originate
set protocols bgp 65110 parameters bestpath as-path multipath-relax
commit
save
exit